.button-default {
	background: rgba(51, 105, 243, 1);
	border-radius: 8px;
	width: 100%;
	max-width: 280px;
	height: 37px;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 13px;
	text-align: center;
	color: #FFFFFF;
	border: none;

	&:hover {
		background: rgba(51, 105, 243, 0.9);
	}

	&:active {
		background: rgba(51, 105, 243, 0.8);
	}
}
