.button-default {
	background: #3369F3;
	border-radius: 8px;
	width: 100%;
	max-width: 280px;
	height: 37px;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 13px;
	text-align: center;
	color: #FFFFFF;
	border: none;
}
