.typography {
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 11px;
	text-align: center;
	color: #1E1E1E;
}

.lg {
	font-size: 20px;
	line-height: 20px;
}

.blue {
	color: #3369F3;
}
