@import "../../components/typography/typography";
@import "../../components/button/button";
@import "../../components/link/link";

.auth-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 340px;
	padding: 50px 30px 30px 30px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
	border-radius: 12px;
	min-height: 460px;
	box-sizing: border-box;

	.header {
		margin: 0 auto;
		padding-bottom: 40px;
		flex: 0 0 auto;
	}

	.content {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.links {
		flex: 0 0 auto;
		display: flex;
		flex-direction: column;
		gap: 11px;
		align-items: center;

		button {
			width: 100%;
		}
	}
}
