---
filename:
- changePassword
---

{{#extend "base"}}
    {{#content "main"}}
        <main class="change-password-page">
            {{> leftSidebar href="profile.hbs"}}
            <div class="change-password-page__content">
                {{> avatar name="Dima"}}
            </div>
        </main>
    {{/content}}
{{/extend}}
