---
filename:
- changePassword
---

{{#extend "base"}}
    {{#content "main"}}
        <main class="change-password-page">
            <h1>Change Password</h1>
        </main>
    {{/content}}
{{/extend}}
