---
filename:
- changeInformation
---

{{#extend "base"}}
    {{#content "main"}}
        <main class="change-information-page">
            <h1>Change Information</h1>
        </main>
    {{/content}}
{{/extend}}
