---
filename:
- changeInformation
---

{{#extend "base"}}
    {{#content "main"}}
        <main class="change-information-page">
            {{> leftSidebar}}
            <div class="change-information-page__content">

            </div>
        </main>
    {{/content}}
{{/extend}}
