---
stylesheets:
- register
---

{{#extend "base"}}
    {{#content "main"}}
        <main>
            <h1>Welcome from Chat.hbs</h1>
            <a href="index.hbs">Login</a>
            <br />
            {{> button}}
        </main>
    {{/content}}
{{/extend}}
