---
filename:
- login

header:
- Вход

links:
    text: Нет аккаунта ?
    href: register.hbs
    buttonText: Авторизоваться

id:
    formId: login
---

{{#extend "base"}}
    {{#content "main"}}
        <main class="login-page">
            {{#extend "authForm"}}
                {{#content "form"}}
                    <div class="content">
                        {{> input type="text" label="Логин" inputId="login"}}
                        {{> input type="password" label="Пароль" inputId="password"}}
                    </div>
                {{/content}}
            {{/extend}}
        </main>
    {{/content}}
{{/extend}}
