---
filename:
- profile
---


{{#extend "base"}}
    {{#content "main"}}
        <main class="profile-page">
            {{> leftSidebar}}
            <div class="content">
                {{> avatar name="Dima"}}
                <div class="information">

                </div>
                <div class="links">

                </div>
            </div>
        </main>
    {{/content}}
{{/extend}}
