<div class="avatar-wrapper">
    <div class="avatar">
        <img src="../../static/images/avatar.png" alt="avatar" />
    </div>
    <div class="avatar-hover">{{> typography text="Поменять аватар" size="md" color="white" }}</div>
    <span class="name">{{name}}</span>
</div>
