<div class="input-wrapper">
    <div class="input-container">
        <input type="text" id="form-email" class="input-default" required>
        <label for="form-email" class="label-default">Email address</label>
    </div>
    {{#if input.error}}
        {{> typography color="red" size="sm" text=input.textError}}
    {{/if}}
</div>
