<form class="auth-form">
    <div class="header">
        {{#each header}}
            {{> typography text=this size="lg" }}
        {{/each}}
    </div>

    {{#block "form"}}
    {{/block}}
    <div class="links">
        {{> button}}
        {{> link href=links.href text=links.text color="blue"}}
    </div>
</form>
