<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Chat</title>
    {{#each stylesheets}}
        <link href="../styles/{{this}}.scss" rel="stylesheet" />
    {{/each}}
</head>
<body>
    {{#block "main"}}{{/block}}
</body>
</html>
